<img class='background-image' src='/background.jpg'>

<nav class='nav-bar-wrapper'>
	<ul class='nav-bar'>
		<li class='nav-image'><a href='/'><img src='/icon.png'></a></li>
		<li class='nav-button'><a href='/' onclick='color()'>Home</a></li>
		<li class='nav-button'><a href='/about'>About</a></li>
		<li class='nav-button'><a href='/recipes'>Recipes</a></li>
		<li class='nav-button'><a href='/recipes/create'>Create</a></li>
	</ul>
</nav>

<script>
	const navButtons = document.querySelectorAll('.nav-button');
	navButtons.forEach(button => {
		button.addEventListener('click', () => {
            button.classList.add('');
		})
	})
</script>