<%- include ('./partials/head.ejs') %>
<body>
	<%- include ('./partials/nav.ejs') %>
	<div class='page-404'>
		<h2>404 Error</h2>
		<h3>Cannot find page.</h3>
		<img src='/uploads/default.jpg'>
	</div>
</body>
<%- include('./partials/footer.ejs') %>