<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class='about'>
        <h2>More about me.</h2>
        <h3>My name is Victor.</h3>
    </div>
</body>
<%- include('./partials/footer.ejs') %>