<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="home">
        <h2>Welcome</h2>
        <h3>Check out our recipes <a href='/recipes'>here</a>.</h3>
    </div>
</body>
<%- include('./partials/footer.ejs') %>