.nav-bar {
    overflow: hidden;
    display: flex;
    background-color: $navbarColor;
    justify-content: space-evenly;
    padding: 0;

    li {
        list-style-type: none;
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 4px;
        padding-top: 1px;
        padding-bottom: 1px;
        border: 2px solid black;
        border-radius: 10%;
        background-color: $buttonColor;
        font-size: 18px;

        a {
            color: black;
        }
    }

    .nav-image {
        background-color: $navbarColor;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        
        a img {
            width: 45px;
            height: auto;
            margin: 0;
            position: relative;
            top: 5px;
        }
    }
}