@mixin basic-page {
    text-align: center;
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
}

.about {
    @include basic-page();
}

.page-404 {
    @include basic-page();
    overflow: visible;
    img {
        width: 85%;
        height: 30%;
        object-fit: cover;
        object-position: 50% 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}